/*noinspection CssUnknownTarget*/
html.theme-win3x {
	cursor: url(/emupedia-resources/cursors/win31/default.cur), default;
}

/*noinspection CssUnknownTarget*/
.theme-win3x p {
	cursor: url(/emupedia-resources/cursors/win31/text.cur), text;
}

/*noinspection CssUnknownTarget*/
.theme-win3x .emuos-desktop-icon,
.theme-win3x .ui-button,
.theme-win3x .ui-menu .ui-menu-item,
.theme-win3x .mCustomScrollBox .mCSB_dragger .mCSB_dragger_bar,
.theme-win3x .mCustomScrollBox .mCSB_buttonUp,
.theme-win3x .mCustomScrollBox .mCSB_buttonDown {
	cursor: url(/emupedia-resources/cursors/win31/pointer.cur), pointer;
}

/*noinspection CssUnknownTarget*/
.theme-win3x .emuos-taskbar-windows-containment,
.theme-win3x .emuos-taskbar-window-copy,
.theme-win3x .emuos-taskbar-resizable.emuos-taskbar-resizable-disabled .ui-resizable-handle {
	cursor: url(/emupedia-resources/cursors/win31/default.cur), default;
}

/*noinspection CssUnknownTarget*/
.theme-win3x .ui-draggable .ui-dialog-titlebar {
	cursor: url(/emupedia-resources/cursors/win31/move.cur), move;
}

/*noinspection CssUnknownTarget*/
.theme-win3x .ui-resizable-n {
	cursor: url(/emupedia-resources/cursors/win31/vertical.ani), n-resize;
}

/*noinspection CssUnknownTarget*/
.theme-win3x .ui-resizable-e {
	cursor: url(/emupedia-resources/cursors/win31/horizontal.ani), e-resize;
}

/*noinspection CssUnknownTarget*/
.theme-win3x .ui-resizable-s {
	cursor: url(/emupedia-resources/cursors/win31/vertical.ani), s-resize;
}

/*noinspection CssUnknownTarget*/
.theme-win3x .ui-resizable-w {
	cursor: url(/emupedia-resources/cursors/win31/horizontal.ani), w-resize;
}

/*noinspection CssUnknownTarget*/
.theme-win3x .ui-resizable-nw {
	cursor: url(/emupedia-resources/cursors/win31/diagonal1.ani), nw-resize;
}

/*noinspection CssUnknownTarget*/
.theme-win3x .ui-resizable-ne {
	cursor: url(/emupedia-resources/cursors/win31/diagonal2.ani), ne-resize;
}

/*noinspection CssUnknownTarget*/
.theme-win3x .ui-resizable-sw {
	cursor: url(/emupedia-resources/cursors/win31/diagonal2.ani), sw-resize;
}

/*noinspection CssUnknownTarget*/
.theme-win3x .ui-resizable-se {
	cursor: url(/emupedia-resources/cursors/win31/diagonal1.ani), se-resize;
}