/* region Window */

.theme-win3x .emuos-window {
	border-radius: 0;
	border: 1px solid #000;
	background-color: #c0c0c0;
	padding: 3px;
}

.theme-win3x .emuos-window::before {
	position: absolute;
	top: 2px;
	left: 2px;
	display: block;
	content: '';
	width: calc(100% - 6px);
	height: calc(100% - 6px);
	border: 1px solid #000;
}

/*noinspection CssOptimizeSimilarProperties,CssInvalidPropertyValue,CssUnknownTarget*/
.theme-win3x .emuos-window .emuos-window-icon {
	top: 0;
	left: 0;
	width: 19px;
	height: 18px;
	border: none;
	border-right: 1px solid #000;
	border-radius: 0;
	padding: 0;
	margin: 0;
	background-color: #c0c0c0 !important;
	background-image: url(../../../images/themes/icons/windows-3x/menu.png) !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: auto !important;
	/*image-rendering: -moz-crisp-edges;*/
	/*image-rendering: -o-crisp-edges;*/
	/*image-rendering: -webkit-optimize-contrast;*/
	/*image-rendering: pixelated;*/
	/*-ms-interpolation-mode: nearest-neighbor;*/
}

/*noinspection CssOptimizeSimilarProperties,CssInvalidPropertyValue,CssUnknownTarget*/
.theme-win3x .emuos-window .emuos-window-icon:active,
.theme-win3x .emuos-window .emuos-window-icon:focus {
	background-color: #3f3f3f !important;
	background-image: url(../../../images/themes/icons/windows-3x/menu-pressed.png) !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: auto !important;
	/*image-rendering: -moz-crisp-edges;*/
	/*image-rendering: -o-crisp-edges;*/
	/*image-rendering: -webkit-optimize-contrast;*/
	/*image-rendering: pixelated;*/
	/*-ms-interpolation-mode: nearest-neighbor;*/
}

/*noinspection CssOptimizeSimilarProperties,CssReplaceWithShorthandSafely*/
.theme-win3x .emuos-window .ui-dialog-titlebar {
	background-color: #c0c0c0;
	border-radius: 0;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	border: none;
	border-bottom: 1px solid #000;
	padding: 0;
	padding-left: 19px;
	height: 18px;
}

.theme-win3x .emuos-window .ui-dialog-titlebar .ui-dialog-title {
	line-height: 21px;
	margin: -2px 0 0;
}

.theme-win3x .emuos-window .ui-dialog-titlebar.ui-state-active {
	background-color: #000080;
	border: none;
	border-bottom: 1px solid #000;
}

.theme-win3x .emuos-window .ui-dialog-titlebar .ui-dialog-titlebar-close {
	display: none;
}

/*noinspection CssOverwrittenProperties*/
.theme-win3x .emuos-window.ui-dialog .ui-dialog-titlebar .emuos-window-button-maximize-restore {
	top: 0;
	right: 0;
	width: 19px;
	height: 18px;
	padding: 0;
	margin: 0;
	border: none;
	border-left: 1px solid #000;
	border-radius: 0;
	background: none transparent;
}

/*noinspection CssOptimizeSimilarProperties*/
.theme-win3x .emuos-window.ui-dialog .ui-dialog-titlebar .emuos-window-button-maximize-restore .ui-button-icon-primary {
	top: 1px;
	left: 1px;
	width: 15px;
	height: 15px;
	padding: 0;
	margin: 0;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
	background: none transparent !important;
}

/*noinspection CssOptimizeSimilarProperties,CssInvalidPropertyValue,DuplicatedCode,CssUnknownTarget*/
.theme-win3x .emuos-window.ui-dialog .ui-dialog-titlebar .emuos-window-button-maximize-restore .ui-button-text {
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 0;
	content: '';
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
	background-color: #c0c0c0;
	background-image: url(../../../images/themes/icons/windows-3x/maximize.png);
	background-position: 4px 5px;
	background-repeat: no-repeat;
	/*image-rendering: -moz-crisp-edges;*/
	/*image-rendering: -o-crisp-edges;*/
	/*image-rendering: -webkit-optimize-contrast;*/
	/*image-rendering: pixelated;*/
	/*-ms-interpolation-mode: nearest-neighbor;*/
}

/*noinspection CssUnknownTarget*/
.theme-win3x .emuos-window.emuos-window-maximized.ui-dialog .ui-dialog-titlebar .emuos-window-button-maximize-restore .ui-button-text {
	background-color: #c0c0c0;
	background-image: url(../../../images/themes/icons/windows-3x/restore.png);
	background-position: 4px 3px;
	background-repeat: no-repeat;
}

/*noinspection CssOverwrittenProperties*/
.theme-win3x .emuos-window.ui-dialog .ui-dialog-titlebar .emuos-window-button-minimize {
	top: 0;
	right: 19px;
	width: 19px;
	height: 18px;
	padding: 0;
	margin: 0;
	border: none;
	border-left: 1px solid #000;
	border-radius: 0;
	background: none transparent;
}

/*noinspection CssOptimizeSimilarProperties*/
.theme-win3x .emuos-window.ui-dialog .ui-dialog-titlebar .emuos-window-button-minimize .ui-button-icon-primary {
	top: 1px;
	left: 1px;
	width: 15px;
	height: 15px;
	padding: 0;
	margin: 0;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
	background: none transparent !important;
}

/*noinspection CssOptimizeSimilarProperties,CssInvalidPropertyValue,DuplicatedCode,CssUnknownTarget*/
.theme-win3x .emuos-window.ui-dialog .ui-dialog-titlebar .emuos-window-button-minimize .ui-button-text {
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 0;
	content: '';
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
	background-color: #c0c0c0;
	background-image: url(../../../images/themes/icons/windows-3x/minimize.png);
	background-position: 4px 6px;
	background-repeat: no-repeat;
	/*image-rendering: -moz-crisp-edges;*/
	/*image-rendering: -o-crisp-edges;*/
	/*image-rendering: -webkit-optimize-contrast;*/
	/*image-rendering: pixelated;*/
	/*-ms-interpolation-mode: nearest-neighbor;*/
}

.theme-win3x .emuos-window .emuos-window-content {
	padding: 0;
	font-size: 13px;
	line-height: 16px;
	height: calc(100% - 19px) !important;
	max-height: calc(100% - 19px) !important;
	background-color: #fff;
}

.theme-win3x .emuos-window .emuos-window-content p {
	margin: 0;
	padding: 0;
}

/* endregion */