@font-face {
	font-family: 'dos';
	src: url('fonts/dosega-webfont.eot');
	src: url('fonts/dosega-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/dosega-webfont.woff2') format('woff2'),
	url('fonts/dosega-webfont.woff') format('woff'),
	url('fonts/dosega-webfont.ttf') format('truetype'),
	url('fonts/dosega-webfont.svg#dos') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-color: #000;
	font-family: 'dos', Fixedsys, monospace;
	font-size: 16px;
	color: #fff;
	height: 100%;
	/*overflow: hidden;*/
}

.cf:before, .cf:after {
	content: '';
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	zoom: 1;
}

div.vm-container {
	width: 100%;
	height: 100%;
	background-color: #14171a;
}

div.main-container {
	/*box-sizing: border-box;*/
	/*width: 100%;*/
	/*padding-left: 10px;*/
	/*padding-right: 10px;*/
}

/* region Tabs */

ul.tab-bar {
	width: 100%;
	height: 28px;
	background-color: #252c33;
	border-top: 1px solid #45484c;
	border-bottom: 1px solid #000000;
	list-style: none;
	padding: 0;
	margin: 0;
}

li.tab {
	width: 200px;
	height: 28px;
	text-align: center;
	border-right: 1px solid #42484f;
	float: left;
}

li.tab a, li.tab a:focus {
	display: block;
	width: 100%;
	height: 26px;
	line-height: 26px;
	background-color: #252c33;
	border-bottom: 2px solid #21282e;
	text-decoration: none;
	color: #a9bacb;
	outline: none;
}

li.tab a:hover {
	background-color: #1f252c;
	border-bottom: 2px solid #1b2228;
	color: #c4c7cb;
}

li.tab a:active {
	background-color: #1a4666;
	height: 24px;
	line-height: 22px;
	border-top: 2px solid #d7f1ff;
	border-bottom: 2px solid #1b2228;
	color: #eef0f2;
}

/* endregion */

/* region Screen */

div.screen {
	position: absolute;
	text-align: left;
	margin: auto;
	padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #181d20;
	border: 2px solid #42484f;
}

div.screen div.text-mode {
	position: absolute;
	width: 100%;
	height: 100%;
	white-space: pre;
	font-size: 16px;
	line-height: 16px;
}

div.screen canvas {
	width: 100%;
	height: 100%;
}

div.screen.text-720x350-res-80x25-textres-9x14-charsize-2-colors {
	width: 720px;
	height: 350px;
}

div.screen.text-320x200-res-40x25-textres-8x8-charsize-16-colors {
	width: 320px;
	height: 200px;
}

div.screen.text-640x200-res-80x25-textres-8x8-charsize-16-colors {
	width: 640px;
	height: 200px;
}

div.screen.text-640x350-res-80x25-textres-8x14-charsize-16-colors {
	width: 640px;
	height: 350px;
}

div.screen.text-640x350-res-80x43-textres-8x8-charsize-16-colors {
	width: 640px;
	height: 350px;
}

div.screen.text-720x400-res-80x25-textres-9x16-charsize-16-colors {
	width: 720px;
	height: 400px;
}

div.screen.text-720x400-res-80x50-textres-9x8-charsize-16-colors {
	width: 720px;
	height: 400px;
}

/* VESA */
div.screen.text-80x60-res-16-colors {}
div.screen.text-132x25-res-16-colors {}
div.screen.text-132x43-res-16-colors {}
div.screen.text-132x50-res-16-colors {}
div.screen.text-132x60-res-16-colors {}

/* endregion */

/* region Debugger */

table {
	border-spacing: 0;
	border-collapse: collapse;
}

table.debugger {
	width: 100%;
}

table.debugger table {
	table-layout: fixed;
	background-color: #181d20;
	border: 2px solid #42484f;
	/*margin-bottom: 20px;*/
	color: #a9bacb;
	/*float: right;*/
}

table.debugger table:nth-child(1) {
	/*margin-top: 20px;*/
	margin-bottom: 20px;
}

table.debugger th {
	text-align: center;
	border-top: 2px solid #42484f;
	border-bottom: 2px solid #42484f;
	border-right: 2px solid #42484f;
	padding: 0 5px;
	margin: 0;
	font-weight: normal;
}

table.debugger th:not(:nth-child(1)) {
	border-top: none;
}

table.debugger table td {
	padding: 0 5px;
}

table.debugger table.ram td {
	border-right: 2px solid #42484f;
}

.state .STATE,
.ram,
.registers .AX,
.registers .BX,
.registers .CX,
.registers .DX,
.registers .AH,
.registers .AL,
.registers .BH,
.registers .BL,
.registers .CH,
.registers .CL,
.registers .DH,
.registers .DL,
.registers .CS,
.registers .DS,
.registers .ES,
.registers .SS,
.registers .SI,
.registers .DI,
.registers .BP,
.registers .SP,
.registers .IP,
.registers .F,
.flags .FLAGS,
.flags .CF,
.flags .PF,
.flags .AF,
.flags .ZF,
.flags .SF,
.flags .TF,
.flags .IF,
.flags .DF,
.flags .OF
{
	text-transform: uppercase;
}

/* endregion */

/* region Keyboard */

/*noinspection CssOptimizeSimilarProperties*/
div.keyboard {
	display: none;
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	/*bottom: 0;*/
	box-sizing: border-box;
	width: 800px;
	min-height: 315px;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	padding: 60px 5px 10px;
	/*border-radius: 20px 20px 10px 10px;*/
	border-top-left-radius: 7px 21px;
	border-top-right-radius: 7px 21px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #e2e5e8;
	/*background-color: #bbb;*/
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.27, rgb(212,216,219)), color-stop(0.64, rgb(213,217,220)), color-stop(0.95, rgb(230,233,235)), color-stop(1, rgb(191,191,191)));
	/*noinspection CssInvalidFunction*/
	background-image: -moz-linear-gradient(center bottom, rgb(212,216,219) 27%, rgb(213,217,220) 64%, rgb(230,233,235) 95%, rgb(191,191,191) 100%);
	box-shadow: 0 4px 1px 0 hsla(0, 0%, 73%, .8), 0 5px 100px -25px #181818;
	text-align: center;
}

div.keyboard * {
	box-sizing: border-box;
}

div.keyboard .rows {
	display: inline-block;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 3px;
	padding-left: 2px;
	text-align: center;
}

div.keyboard .key {
	display: block;
	width: 49px;
	height: 31px;
	margin-right: 3.5px;
	margin-left: 3.5px;
	padding: 12px 4px 0 0;
	float: left;
	border-style: solid none;
	border-width: 1px 1px 3px;
	border-color: #f5f5f5 transparent rgba(54, 54, 54, .27);
	border-radius: 4px 4px 5px 5px;
	background-color: #eff0f2;
	/*background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .75), hsla(0, 0%, 100%, .75));*/
	/*background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .75), hsla(0, 0%, 100%, .75));*/
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .65);
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	color: #aaa;
	font-size: 8px;
	line-height: 13px;
	font-weight: 700;
	text-align: right;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #f5f5f5;
	ms-filter: dropshadow(color=#f5f5f5, offx=0, offy=1);
	filter: dropshadow(color=#f5f5f5, offx=0, offy=1);
}

div.keyboard .key:active {
	padding-top: 13px;
	padding-bottom: 4px;

	border-top: 1px solid rgba(0, 0, 0, .4);
	border-right: 1px none transparent;
	border-bottom: 1px solid transparent;
	background-color: #ebeced;
	background-image: -webkit-linear-gradient(270deg, hsla(206, 9%, 85%, .22), hsla(206, 9%, 85%, .22));
	background-image: linear-gradient(180deg, hsla(206, 9%, 85%, .22), hsla(206, 9%, 85%, .22));
	color: #888;

	/*background-color: #ebeced;*/
	/*-webkit-box-shadow: inset 0 0 25px #ddd, 0 0 3px #333;*/
	/*-moz-box-shadow: inset 0 0 25px #ddd, 0 0 3px #333;*/
	/*box-shadow: inset 0 0 25px #ddd, 0 0 3px #333;*/
	/*color: #888;*/
}

div.keyboard .key.escape {
	height: 31px;
	padding: 7px 0;
	font-size: 11px;
	font-weight: 400;
	text-align: center;
	text-transform: lowercase;
}

div.keyboard .key.escape:active {
	padding-top: 8px;
	padding-bottom: 0;
}

div.keyboard .key.eject {
	height: 31px;
	padding: 7px 0;
	font-size: 11px;
	font-weight: 400;
	text-align: center;
	text-transform: lowercase;
}

div.keyboard .key.eject:active {
	padding-top: 8px;
	padding-bottom: 0;
}

div.keyboard .key.square {
	width: 47px;
	height: 47px;
	padding-top: 6px;
	padding-right: 0;
	font-size: 11px;
	line-height: 15px;
	font-weight: 700;
	text-align: center;
}

div.keyboard .key.square:active {
	padding-top: 7px;
}

div.keyboard .key.square.tab {
	width: 76px;
	padding-top: 22px;
	padding-left: 10px;
	font-weight: 400;
	text-align: left;
	text-transform: lowercase;
}

div.keyboard .key.square.tab:active {
	padding-top: 23px;
}

div.keyboard .key.square.center {
	padding-top: 15px;
	font-size: 13px;
	font-weight: 700;
}

div.keyboard .key.square.center:active {
	padding-top: 16px;
}

div.keyboard .key.delete {
	width: 76px;
	height: 47px;
	padding-top: 24px;
	padding-right: 8px;
	padding-bottom: 5px;
	font-size: 11px;
	font-weight: 400;
	text-transform: lowercase;
}

div.keyboard .key.delete:active {
	padding-top: 25px;
}

div.keyboard .key.shift {
	width: 89px;
	height: 47px;
	padding-top: 22px;
	padding-left: 10px;
	font-size: 11px;
	text-align: left;
	text-transform: none;
}

div.keyboard .key.shift.right {
	width: 116px;
	padding-right: 10px;
	font-size: 10px;
	font-weight: 700;
	text-align: right;
}

div.keyboard .key.shift.right:active {
	padding-top: 23px;
}

div.keyboard .key.shift.left {
	width: 116px;
	font-size: 10px;
}

div.keyboard .key.shift.left:active {
	padding-top: 23px;
}

div.keyboard .key.caps {
	width: 89px;
	height: 47px;
	padding-top: 5px;
	padding-left: 10px;
	/*background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .75), hsla(0, 0%, 100%, .75));*/
	/*background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .75), hsla(0, 0%, 100%, .75));*/
	/*font-size: 7.5px;*/
	font-size: 10px;
	line-height: 17px;
	text-align: left;
	text-transform: none;
}

div.keyboard .key.caps b {
	display: block;
	background: #999;
	width: 4px;
	height: 4px;
	border-radius: 10px;
	/*margin: 9px 0 0 10px;*/
	margin: 5px 0 7px 0;
	-webkit-box-shadow: inset 0 1px 0 #666;
	-moz-box-shadow:inset 0 1px 0 #666;
	box-shadow:inset 0 1px 0 #666;
}

div.keyboard .key.caps:active {
	padding-top: 6px;
}

div.keyboard .key.caps:focus {
	color: #37db17;
}

div.keyboard .key.caps:focus b {
	background: #37db17;
}

div.keyboard .key.return {
	width: 89px;
	height: 47px;
	padding-top: 22px;
	padding-right: 10px;
	font-size: 10px;
	line-height: 17px;
	text-align: right;
	text-transform: none;
}

div.keyboard .key.return:active {
	padding-top: 23px;
}

div.keyboard .key.bottom {
	width: 49px;
	height: 55px;
	padding-top: 31px;
	padding-left: 10px;
	font-size: 10px;
	text-align: left;
	text-transform: lowercase;
}

div.keyboard .key.bottom:active {
	padding-top: 32px;
}

div.keyboard .key.bottom.wide {
	width: 58px;
	height: 55px;
}

div.keyboard .key.bottom.command {
	width: 73px;
	padding-top: 17px;
}

div.keyboard .key.bottom.option {
	padding-top: 17px;
}

div.keyboard .key.space {
	width: 220px;
	height: 55px;
}

div.keyboard .key.arrows-left-right {
	height: auto;
	margin-top: 25px;
	padding-top: 7.5px;
	padding-bottom: 5.5px;
	text-align: center;
}

div.keyboard .key.arrows-left-right:active {
	padding-top: 8.5px;
	padding-bottom: 6.5px;
}

div.keyboard .key.arrow-up {
	height: 27.5px;
	padding-top: 9px;
	padding-right: 0;
	float: left;
	clear: none;
	border-bottom: 1px solid rgba(54, 54, 54, .35);
	border-bottom-left-radius: 1px;
	border-bottom-right-radius: 1px;
	text-align: center;
}

div.keyboard .key.arrow-up:active {
	padding-top: 10px;
}

div.keyboard .key.arrow-down {
	height: 27.5px;
	padding-top: 5px;
	padding-right: 0;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	text-align: center;
}

div.keyboard .key.arrow-down:active {
	padding-top: 6px;
}

div.keyboard .arrows-wrap {
	width: 165px;
	height: 56px;
	float: left;
}

div.keyboard .middle-arrows {
	width: 33%;
	height: 100%;
	float: left;
}

/* endregion */

input.console {
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 26px;
	line-height: 26px;
	background-color: #252c33;
	border: 1px solid #42484f;
	margin: 0;
	padding: 0 5px;
	color: #a9bacb;
	font-family: 'dos', Fixedsys, monospace;
	font-size: 16px;
}