/* region Window */

.theme-win311 .emuos-window {
	border-radius: 0;
	border: 1px solid #000;
	background-color: #c0c0c0;
	outline: 1px solid #000;
	outline-offset: -4px;
	padding: 3px;
}

/*noinspection CssOptimizeSimilarProperties*/
.theme-win311 .emuos-window .emuos-window-icon {
	/*position: absolute;*/
	/*display: block;*/
	top: 0;
	left: 0;
	width: 19px;
	height: 18px;
	border: none;
	border-right: 1px solid #000;
	border-radius: 0;
	padding: 0;
	margin: 0;
	background-color: #c0c0c0;
	background-image: url(../../../images/themes/win311/window/menu.png);
	background-repeat: no-repeat;
	background-position: center;
}

/*noinspection CssOptimizeSimilarProperties*/
.theme-win311 .emuos-window .emuos-window-icon:active,
.theme-win311 .emuos-window .emuos-window-icon:focus {
	background-color: #3f3f3f;
	background-image: url(../../../images/themes/win311/window/menu-pressed.png);
	background-repeat: no-repeat;
	background-position: center;
}

/*noinspection CssOptimizeSimilarProperties*/
/*.theme-win311 .emuos-window .emuos-window-icon {
	display: block;
	width: 5px;
	height: 1px;
	background-color: #fff;
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 7px;
	margin-bottom: 8px;
	border: 1px solid #000;
	box-shadow: 1px 1px #808080;
}

.theme-win311 .emuos-window .emuos-window-icon:active,
.theme-win311 .emuos-window .emuos-window-icon:focus {
	background-color: #000;
	border: 1px solid #fff;
	box-shadow: 1px 1px #c0c0c0;
}*/

.theme-win311 .emuos-window.emuos-window-top {
	/*background-color: #000080;*/
}

/*noinspection CssOptimizeSimilarProperties*/
.theme-win311 .emuos-window .ui-dialog-titlebar {
	background-color: #c0c0c0;
	border-radius: 0;
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	border: none;
	border-bottom: 1px solid #000;
	padding: 0;
	padding-left: 19px;
	height: 18px;
}

.theme-win311 .emuos-window .ui-dialog-titlebar .ui-dialog-title {
	line-height: 21px;
	margin: -2px 0 0;
}

.theme-win311 .emuos-window .ui-dialog-titlebar.ui-state-active {
	background-color: #000080;
	border: none;
	border-bottom: 1px solid #000;
}

.theme-win311 .emuos-window .emuos-window-content {
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 13px;
	line-height: 16px;
	height: calc(100% - 19px) !important;
	background-color: #fff;
}

.theme-win311 .emuos-window .emuos-window-content p {
	margin: 0;
	padding: 0;
}

.theme-win311 .window .menu-button {
	position: absolute;
	display: block;
	top: 4px;
	left: 4px;
	width: 18px;
	height: 18px;
	background-color: #c0c0c0;
	border-right: 1px solid #000;
}

.theme-win311 .window .menu-button:active,
.theme-win311 .window .menu-button:focus {
	background-color: #808080;
}

/*noinspection CssOptimizeSimilarProperties*/
.theme-win311 .window .menu-button .menu-button-inner {
	display: block;
	width: 5px;
	height: 1px;
	background-color: #fff;
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 7px;
	margin-bottom: 8px;
	border: 1px solid #000;
	box-shadow: 1px 1px #808080;
}

.theme-win311 .window .menu-button:active .menu-button-inner,
.theme-win311 .window .menu-button:focus .menu-button-inner {
	background-color: #000;
	border: 1px solid #fff;
	box-shadow: 1px 1px #c0c0c0;
}

.theme-win311 .window .minimize-button {
	position: absolute;
	display: block;
	top: 4px;
	right: 24px;
	width: 17px;
	height: 18px;
	background-color: #c0c0c0;
	border-left: 1px solid #000;
}

/*noinspection CssOptimizeSimilarProperties*/
.theme-win311 .window .minimize-button .minimize-button-inner-1 {
	display: block;
	width: 16px;
	height: 16px;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
}

/*noinspection CssOptimizeSimilarProperties,CssInvalidPropertyValue*/
.theme-win311 .window .minimize-button .minimize-button-inner-2 {
	display: block;
	width: 15px;
	height: 15px;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
	background-image: url(../../../images/icons/win311/minimize.png);
	background-position: center;
	background-repeat: no-repeat;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
}

.theme-win311 .window .maximize-button {
	position: absolute;
	display: block;
	top: 4px;
	right: 5px;
	width: 17px;
	height: 18px;
	background-color: #c0c0c0;
	border-left: 1px solid #000;
}

/*noinspection CssOptimizeSimilarProperties*/
.theme-win311 .window .maximize-button .maximize-button-inner-1 {
	display: block;
	width: 16px;
	height: 16px;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
}

/*noinspection CssOptimizeSimilarProperties,CssInvalidPropertyValue*/
.theme-win311 .window .maximize-button .maximize-button-inner-2 {
	display: block;
	width: 15px;
	height: 15px;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
	background-image: url(../../../images/icons/win311/maximize.png);
	background-position: center 5px;
	background-repeat: no-repeat;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
}

/* endregion */