@charset "UTF-8";

/**
 * The Fontspring @font-face syntax
 *
 * @link http://www.paulirish.com/2009/bulletproof-font-face-implementation-syntax/
 *
 */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: url('../assets/fonts/opensansl.eot'); /* IE9 */
	src: local('☺'), /* Bogus local font to prevent loading a local font */
	url('../assets/fonts/opensansl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../assets/fonts/opensansl.woff') format('woff'), /* Modern Browsers */
	url('../assets/fonts/opensansl.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../assets/fonts/opensansl.svg#OpenSans-Light') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/opensans.eot'); /* IE9 */
	src: local('☺'), /* Bogus local font to prevent loading a local font */
	url('../assets/fonts/opensans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../assets/fonts/opensans.woff') format('woff'), /* Modern Browsers */
	url('../assets/fonts/opensans.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../assets/fonts/opensans.svg#OpenSans-Regular') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: url('../assets/fonts/opensanssb.eot'); /* IE9 */
	src: local('☺'), /* Bogus local font to prevent loading a local font */
	url('../assets/fonts/opensanssb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../assets/fonts/opensanssb.woff') format('woff'), /* Modern Browsers */
	url('../assets/fonts/opensanssb.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../assets/fonts/opensanssb.svg#OpenSans-SemiBold') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: url('../assets/fonts/opensansb.eot'); /* IE9 */
	src: local('☺'), /* Bogus local font to prevent loading a local font */
	url('../assets/fonts/opensansb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../assets/fonts/opensansb.woff') format('woff'), /* Modern Browsers */
	url('../assets/fonts/opensansb.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../assets/fonts/opensansb.svg#OpenSans-Bold') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	src: url('../assets/fonts/opensanseb.eot'); /* IE9 */
	src: local('☺'), /* Bogus local font to prevent loading a local font */
	url('../assets/fonts/opensanseb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../assets/fonts/opensanseb.woff') format('woff'), /* Modern Browsers */
	url('../assets/fonts/opensanseb.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../assets/fonts/opensanseb.svg#OpenSans-ExtraBold') format('svg'); /* Legacy iOS */
}