:host {
	display: inline-block;
	width: calc(100% - 2px);
	min-width: 5px;
	height: calc(100% - 2px);
	min-height: 5px;
	background: #c0c0c0;
	border-left: 1px solid #dfdfdf;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
}

#content {
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	background: #c0c0c0;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #808080;
	border-right: 1px solid #808080;
	overflow: hidden;
}