.xmas-countdown {
	width: 130px;
	text-align: center;
	position: absolute;
	right: 10px;
	bottom: 15px;
	border: 2px #61AD65 solid;
	border-radius: 3px;
	background: white;
	font-weight: 600;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.12);
	font: 80%/1.25 Helvetica Neue, Helvetica, Arial, sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.xmas-countdown svg {
	width: 130px;
	position: absolute;
	top: -40px;
	left: 0;
}

.xmas-countdown svg .bow-shadow {
	fill: #C13D2C;
}

.xmas-countdown svg .bow {
	fill: #E64E3D;
}

.xmas-countdown .message {
	font-size: 1.3em;
	background: #61AD65;
	color: white;
	text-transform: uppercase;
	padding: 5px 0;
	text-shadow: 1px 1px 1px #5A5A5A;
}

.xmas-countdown .countdown {
	font-size: 5em;
	color: #E64E3D;
	line-height: 60px;
}