/* Styles */
.webamp .main-window {
	position: absolute;
	height: 116px;
	width: 275px;
	/* Ask the browser to scale showing large pixels if possible */
	image-rendering: -moz-crisp-edges; /* Firefox */
	image-rendering: -o-crisp-edges; /* Opera */
	/*noinspection CssInvalidPropertyValue*/
	image-rendering: -webkit-optimize-contrast; /* Safari */
	image-rendering: pixelated; /* Only in Chrome > 40 */
	-ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

.webamp .title-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 14px;
	width: 275px;
}

.webamp #option-context,
.webamp .minimize,
.webamp .shade,
.webamp .close {
	position: absolute;
	height: 9px;
	width: 9px;
	top: 3px;
}

.webamp .title-bar .option {
	width: 100%;
	height: 100%;
}

.webamp .title-bar #option-context {
	left: 6px;
}
.webamp .title-bar .minimize {
	left: 244px;
}
.webamp .title-bar .shade {
	left: 254px;
}

.webamp .title-bar .close {
	left: 264px;
}
.webamp .clutter-bar {
	position: absolute;
	top: 22px;
	left: 10px;
	height: 43px;
	width: 8px;
}

.webamp .clutter-bar div {
	position: absolute;
	height: 7px;
	width: 8px;
	left: 0;
}

.webamp .clutter-bar .button-o {
	top: 3px;
	height: 8px;
}
.webamp .clutter-bar .button-a {
	top: 11px;
}
.webamp .clutter-bar .button-i {
	top: 18px;
}
.webamp .clutter-bar .button-d {
	top: 25px;
	height: 8px;
}
.webamp .clutter-bar .button-v {
	top: 33px;
}

.webamp #play-pause {
	position: absolute;
	top: 28px;
	left: 26px;
	height: 9px;
	width: 9px;
	background-repeat: no-repeat;
}

.webamp .play #work-indicator,
.webamp #work-indicator.selected {
	position: absolute;
	top: 28px;
	left: 24px;
	height: 9px;
	width: 3px;
}
.webamp .status .time {
	position: absolute;
	left: 39px;
	top: 26px;
	/* Just to make it clickable */
	height: 13px;
	width: 59px;
}

.webamp .stop .status .time {
	display: none;
}
.webamp .pause .status .time {
	animation: blink 2s step-start 1s infinite;
	-webkit-animation: blink 2s step-start 1s infinite;
}

.webamp .status .time .minus-sign {
	/* Note that this get's augmented by the skin CSS if NUM_EX.BMP is present */
	position: absolute;
	top: 6px;
	left: -1px;
	width: 5px;
	height: 1px;
}

.webamp .status .time .minute-first-digit {
	position: absolute;
	pointer-events: none;
	left: 9px;
	height: 13px;
	width: 9px;
}
.webamp .status .time .minute-second-digit {
	position: absolute;
	pointer-events: none;
	left: 21px;
	height: 13px;
	width: 9px;
}
.webamp .status .time .second-first-digit {
	position: absolute;
	pointer-events: none;
	left: 39px;
	height: 13px;
	width: 9px;
}
.webamp .status .time .second-second-digit {
	position: absolute;
	pointer-events: none;
	left: 51px;
	height: 13px;
	width: 9px;
}

.webamp .main-window .visualizer {
	position: absolute;
	top: 43px;
	left: 24px;
}

.webamp .main-window.shade .visualizer {
	top: 5px;
	left: 79px;
}

.webamp .main-window.stop .visualizer {
	display: none;
}

.webamp .text {
	display: none;
}

.webamp .marquee {
	position: absolute;
	left: 111px;
	top: 24px;
	width: 155px;
	height: 6px;
	overflow: hidden;
	display: block;
	padding: 3px 0; /* Ensure the target is correct for the cursor */
}

.webamp .media-info .kbps {
	position: absolute;
	left: 111px;
	top: 43px;
	width: 15px;
	height: 6px;
	overflow: hidden;
}

.webamp .stop .media-info .kbps {
	display: none;
}

.webamp .media-info .khz {
	position: absolute;
	left: 156px;
	top: 43px;
	width: 10px;
	height: 6px;
	overflow: hidden;
}

.webamp .stop .media-info .khz {
	display: none;
}

.webamp .media-info .mono-stereo {
	position: absolute;
	left: 212px;
	top: 41px;
	width: 57px;
	height: 12px;
}

.webamp .media-info .mono-stereo div {
	position: absolute;
	height: 12px;
}

.webamp .media-info .mono-stereo .mono {
	width: 27px;
}

.webamp .media-info .mono-stereo .stereo {
	left: 27px;
	width: 29px;
}

.webamp .volume {
	position: absolute;
	left: 107px;
	top: 57px;
	height: 13px;
	width: 68px;
	background-position: 0 0;
}

.webamp .volume input {
	height: 13px;
	/* The input itself, is actually 3px shorter than the background
	   * https://twitter.com/LuigiHann/status/959275940688867328
	   */
	width: 65px;
	display: block;
}

.webamp .volume input::-webkit-slider-thumb {
	top: 1px;
	height: 11px;
	width: 14px;
}

.webamp .volume input::-moz-range-thumb {
	top: 1px;
	height: 11px;
	width: 14px;
}

.webamp .volume input::-ms-thumb {
	top: 1px;
	height: 11px;
	width: 14px;
}

.webamp input.balance {
	position: absolute;
	left: 177px;
	top: 57px;
	height: 13px;
	width: 38px;
	background-position: 0 0;
}

.webamp input.balance::-webkit-slider-thumb {
	top: 1px;
	height: 11px;
	width: 14px;
}

.webamp input.balance::-moz-range-thumb {
	top: 1px;
	height: 11px;
	width: 14px;
}

.webamp input.balance::-ms-thumb {
	top: 1px;
	height: 11px;
	width: 14px;
}

.webamp .windows {
	position: absolute;
	left: 219px;
	top: 58px;
	width: 46px;
	height: 12px;
}

.webamp .windows div {
	position: absolute;
	width: 23px;
	height: 12px;
}

.webamp .windows #equalizer-button {
	left: 0;
}

.webamp .windows #playlist-button {
	left: 23px;
}

.webamp input.position {
	position: absolute;
	left: 16px;
	top: 72px;
	width: 248px;
	height: 10px;
}

.webamp input.position::-webkit-slider-thumb {
	height: 10px;
	width: 29px;
	/*
	   * Fix the strange bug in Safair/mobile-chrome
	   * http://stackoverflow.com/questions/26727769/rendering-glitch-when-manipulating-range-input-value-via-javascript-in-webkit
	   */
	-webkit-box-sizing: border-box;
	position: relative;
}

.webamp input.position::-moz-range-thumb {
	height: 10px;
	width: 29px;
}

.webamp input.position::-ms-thumb {
	height: 10px;
	width: 29px;
}

/* For some reason, we can't use display: none here */
.webamp .stop .position::-webkit-slider-thumb {
	visibility: hidden;
}
.webamp .stop .position::-moz-range-thumb {
	visibility: hidden;
}

/* For some reason this is needed for the position slider to show up now that
 * we are using React.
 */
.webamp .play .position::-webkit-slider-thumb {
	visibility: visible;
}

.webamp .actions div {
	height: 18px;
	width: 23px;
	position: absolute;
}

.webamp .actions #previous {
	top: 88px;
	left: 16px;
}
.webamp .actions #play {
	top: 88px;
	left: 39px;
}
.webamp .actions #pause {
	top: 88px;
	left: 62px;
}
.webamp .actions #stop {
	top: 88px;
	left: 85px;
}
.webamp .actions #next {
	top: 88px;
	left: 108px;
	width: 22px;
}

.webamp .eject {
	position: absolute;
	top: 89px;
	left: 136px;
	height: 16px;
	width: 22px;
}

.webamp .shuffle-repeat {
	position: absolute;
	top: 89px;
	left: 164px;
	width: 74px;
}

.webamp .shuffle-repeat div {
	position: absolute;
	height: 15px;
}

.webamp .shuffle-repeat .shuffle {
	width: 47px;
}

.webamp .shuffle-repeat .repeat {
	left: 46px;
	width: 28px;
}

.webamp .about {
	position: absolute;
	top: 91px;
	left: 253px;
	height: 15px;
	width: 13px;
}

.webamp .digit {
	position: absolute;
	display: inline-block;
	width: 9px;
	height: 13px;
	background-repeat: no-repeat;
	text-indent: -9999px;
}

/* Shade View */
.webamp .main-window.shade {
	height: 14px;
}

.webamp .shade .media-info,
.webamp .shade .windows,
.webamp .shade .volume,
.webamp .shade .balance,
.webamp .shade .shuffle-repeat,
.webamp .shade .status {
	display: none;
}

.webamp .shade .actions div {
	position: absolute;
}
.webamp .shade .actions #previous,
.webamp .shade .actions #previous:active {
	background: none;
	height: 10px;
	width: 7px;
	top: 2px;
	left: 169px;
}
.webamp .shade .actions #play,
.webamp .shade .actions #play:active {
	background: none;
	height: 10px;
	width: 10px;
	top: 2px;
	left: 176px;
}
.webamp .shade .actions #pause,
.webamp .shade .actions #pause:active {
	background: none;
	height: 10px;
	width: 9px;
	top: 2px;
	left: 186px;
}
.webamp .shade .actions #stop,
.webamp .shade .actions #stop:active {
	background: none;
	height: 10px;
	width: 9px;
	top: 2px;
	left: 195px;
}
.webamp .shade .actions #next,
.webamp .shade .actions #next:active {
	background: none;
	height: 10px;
	width: 10px;
	top: 2px;
	left: 204px;
}
.webamp .shade .eject,
.webamp .shade .eject:active {
	height: 10px;
	width: 10px;
	top: 2px;
	left: 215px;
	background: none;
}

.webamp .shade .position {
	position: absolute;
	left: 226px;
	top: 4px;
	width: 17px;
	height: 7px;
}

.webamp .shade .position::-webkit-slider-thumb {
	height: 7px;
	width: 3px;
	/* This make it appear. Not sure why */
	background: none;
}

.webamp .shade .position::-moz-range-thumb {
	height: 7px;
	width: 3px;
	/* This make it appear. Not sure why */
	background: none;
}

.webamp .main-window .mini-time {
	position: absolute;
	top: 4px;
	left: 127px;
}
/* Styles */
.webamp #playlist-window {
	display: flex;
	flex-direction: column;
}

.webamp .playlist-top {
	width: 100%;
	min-height: 20px;
	max-height: 20px;
	position: relative;
	display: flex;
}

.webamp .playlist-top-left {
	width: 25px;
}

.webamp .playlist-top-left-spacer {
	width: 12px;
}

.webamp .playlist-top-left-fill {
	flex-grow: 1;
	background-position: right;
}

.webamp .playlist-top-right-spacer {
	/* This goes to the right of the center */
	width: 13px;
}

.webamp .playlist-top-right-fill {
	flex-grow: 1;
	background-position: right;
}

.webamp .playlist-top-title {
	width: 100px;
}

.webamp .playlist-top-right {
	width: 25px;
}

.webamp .playlist-middle {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

.webamp .playlist-middle-left {
	background-repeat: repeat-y;
	width: 12px;
	min-width: 12px;
}

.webamp .playlist-middle-center {
	flex-grow: 1;
	padding: 3px 0;
	min-width: 0; /* Not sure why this is needed */
}

.webamp .playlist-tracks {
	display: flex;
	flex: 1 0 auto;
}

/*noinspection CssFloatPxLength*/
.webamp .playlist-tracks .track-cell {
	height: 13px;
	line-height: 13px;
	font-size: 9px;
	letter-spacing: 0.5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.webamp .playlist-track-durations > div {
	padding-right: 3px;
	text-align: right;
}

.webamp .playlist-track-titles {
	flex: 1 1 auto;
	overflow: hidden;
}

.webamp .playlist-track-titles > div {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.webamp .playlist-middle-right {
	background-repeat: repeat-y;
	background-position: top right;
	width: 20px;
	min-width: 20px;
	position: relative;
	padding-bottom: 18px;
}

.webamp .playlist-scrollbar {
	height: 100%;
	width: 8px;
	margin-left: 5px;
}

.webamp .playlist-scrollbar-handle {
	width: 8px;
	height: 18px;
}

.webamp .playlist-bottom {
	width: 100%;
	height: 38px;
	min-height: 38px;
	max-height: 38px;
	position: relative;
}

.webamp .playlist-bottom-left {
	width: 125px;
	height: 100%;
	position: absolute;
}

.webamp .playlist-menu li {
	list-style: none;
	display: none;
	width: 22px;
	height: 18px;
	padding: 0;
	margin: 0;
}

.webamp .playlist-menu li > div {
	height: 100%;
}

.webamp .playlist-menu ul {
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 0;
}

.webamp .playlist-menu.selected li {
	display: block;
}

.webamp .playlist-menu .bar {
	position: absolute;
	bottom: 0;
	left: -3px;
	width: 3px;
	height: 54px;
}

.webamp #playlist-add-menu {
	position: absolute;
	bottom: 12px;
	left: 14px;
	width: 22px;
	height: 18px;
}

.webamp #playlist-remove-menu.playlist-menu .bar {
	height: 72px;
}

.webamp #playlist-remove-menu {
	position: absolute;
	bottom: 12px;
	left: 43px;
	width: 22px;
	height: 18px;
}

.webamp #playlist-selection-menu {
	position: absolute;
	bottom: 12px;
	left: 72px;
	width: 22px;
	height: 18px;
}

.webamp #playlist-misc-menu {
	position: absolute;
	bottom: 12px;
	left: 101px;
	width: 22px;
	height: 18px;
}

.webamp #playlist-list-menu {
	position: absolute;
	bottom: 12px;
	right: 22px;
	width: 22px;
	height: 18px;
}

.webamp .playlist-bottom-right {
	width: 150px;
	height: 100%;
	position: absolute;
	right: 0;
}

.webamp .playlist-running-time-display {
	position: absolute;
	top: 10px;
	left: 7px;
	height: 10px;
}

.webamp .playlist-action-buttons {
	position: absolute;
	top: 22px;
	left: 3px;
	display: flex;
}

.webamp .playlist-action-buttons > div {
	height: 10px;
	width: 10px;
}

.webamp #playlist-window .playlist-visualizer {
	width: 75px;
	height: 100%;
	position: absolute;
	right: 150px;
	display: none; /* Only show if the window is wide enough */
}

.webamp #playlist-window.wide .playlist-visualizer {
	display: block;
}

.webamp #playlist-window .mini-time {
	position: absolute;
	top: 23px;
	left: 66px;
}

.webamp #playlist-window #playlist-resize-target {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 20px;
	width: 20px;
}

.webamp #playlist-close-button {
	position: absolute;
	right: 2px;
	height: 9px;
	width: 9px;
	top: 3px;
}

.webamp #playlist-shade-button {
	position: absolute;
	right: 12px;
	height: 9px;
	width: 9px;
	top: 3px;
}

.webamp #playlist-window-shade {
	height: 14px;
}

.webamp #playlist-window-shade .left {
	height: 14px;
	background-repeat: no-repeat;
}

.webamp #playlist-window-shade .right {
	height: 14px;
	background-repeat: no-repeat;
	background-position-x: right;
}

.webamp #playlist-window #playlist-scroll-up-button,
.webamp #playlist-window #playlist-scroll-down-button {
	position: absolute;
	width: 8px;
	height: 5px;
	right: 7px;
}

.webamp #playlist-window #playlist-scroll-up-button {
	top: 2px;
}
.webamp #playlist-window #playlist-scroll-down-button {
	top: 8px;
}

.webamp #playlist-window-shade #playlist-resize-target {
	position: absolute;
	right: 20px;
	top: 3px;
	height: 9px;
	width: 9px;
}

.webamp #playlist-shade-track-title {
	position: absolute;
	top: 4px;
	left: 5px;
}

.webamp #playlist-shade-time {
	position: absolute;
	top: 4px;
	right: 30px;
}

.webamp #playlist-window .visualizer {
	position: absolute;
	/* TODO: These numbers are not quite right */
	top: 10px;
	left: 5px;
}
/* Styles */
.webamp #equalizer-window {
	height: 116px;
	width: 275px;
}

.webamp #equalizer-window.shade {
	height: 14px;
}

.webamp #equalizer-volume {
	position: absolute;
	left: 61px;
	top: 4px;
	height: 6px;
	width: 97px;
	background-position: 0 0;
}

.webamp #equalizer-volume::-webkit-slider-thumb {
	height: 7px;
	width: 3px;
}

.webamp #equalizer-volume::-moz-range-thumb {
	height: 7px;
	width: 3px;
}

.webamp #equalizer-balance {
	position: absolute;
	left: 164px;
	top: 4px;
	height: 6px;
	width: 43px;
	background-position: 0 0;
}

.webamp #equalizer-balance::-webkit-slider-thumb {
	height: 7px;
	width: 3px;
}

.webamp #equalizer-balance::-moz-range-thumb {
	height: 7px;
	width: 3px;
}

.webamp .equalizer-top {
	height: 14px;
	width: 275px;
	position: relative;
}

.webamp #equalizer-close {
	position: absolute;
	height: 9px;
	width: 9px;
	left: 264px;
	top: 3px;
}

.webamp #equalizer-shade {
	position: absolute;
	height: 9px;
	width: 9px;
	left: 254px;
	top: 3px;
}

.webamp #on {
	position: absolute;
	width: 26px;
	height: 12px;
	top: 18px;
	left: 14px;
}

.webamp #auto {
	position: absolute;
	width: 32px;
	height: 12px;
	top: 18px;
	left: 40px;
}

.webamp #presets-context {
	position: absolute;
	width: 44px;
	height: 12px;
	top: 18px;
	left: 217px;
}

.webamp #presets {
	width: 100%;
	height: 100%;
}

.webamp #eqGraph {
	position: absolute;
	width: 113px;
	height: 19px;
	top: 17px;
	left: 86px;
}

.webamp #preamp {
	position: absolute;
	left: 21px;
	top: 38px;
}

.webamp #plus12db {
	position: absolute;
	left: 45px;
	top: 36px;
	width: 22px;
	height: 8px;
}

.webamp #zerodb {
	position: absolute;
	left: 45px;
	top: 64px;
	width: 22px;
	height: 8px;
}

.webamp #minus12db {
	position: absolute;
	left: 45px;
	top: 95px;
	width: 22px;
	height: 8px;
}

.webamp #band-60 {
	position: absolute;
	left: 78px;
	top: 38px;
}

.webamp #band-170 {
	position: absolute;
	left: 96px;
	top: 38px;
}

.webamp #band-310 {
	position: absolute;
	left: 114px;
	top: 38px;
}

.webamp #band-600 {
	position: absolute;
	left: 132px;
	top: 38px;
}

.webamp #band-1000 {
	position: absolute;
	left: 150px;
	top: 38px;
}

.webamp #band-3000 {
	position: absolute;
	left: 168px;
	top: 38px;
}

.webamp #band-6000 {
	position: absolute;
	left: 186px;
	top: 38px;
}

.webamp #band-12000 {
	position: absolute;
	left: 204px;
	top: 38px;
}

.webamp #band-14000 {
	position: absolute;
	left: 222px;
	top: 38px;
}

.webamp #band-16000 {
	position: absolute;
	left: 240px;
	top: 38px;
}

.webamp .band {
	width: 14px;
	height: 63px;
}

.webamp .band .rc-slider {
	height: 51px;
	width: 14px;
	margin-top: 6px;
}

.webamp .band .rc-slider .rc-slider-handle {
	width: 11px;
	height: 11px;
	margin: -6px 0 0 1px;
	position: absolute;
}

#webamp-media-library {
	font-size: 11px;
	font-family: "MS Sans Serif", "Segoe UI", sans-serif;
	-webkit-font-smoothing: none;
	padding-right: 2px;
	padding-bottom: 3px;
}

#webamp-media-library input {
	height: 15px;
	border: none;
	background-color: inherit;
	padding: 0;
}

#webamp-media-library th {
	font-weight: normal;
	text-align: left;
	padding-left: 5px;
	white-space: nowrap;
	height: 14px;
}

#webamp-media-library td {
	white-space: nowrap;
}
#webamp-media-library ul {
	list-style: none;
}

#webamp-media-library ul {
	padding: 0;
	margin: 0;
}

#webamp-media-library ul li ul {
	padding-left: 10px;
}

#webamp-media-library .webamp-media-library-table {
	width: 100%;
	border-spacing: unset;
}

/*noinspection CssReplaceWithShorthandSafely*/
#webamp-media-library .webamp-media-library-vertical-divider {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	cursor: col-resize;
}

#webamp-media-library .webamp-media-library-vertical-divider-line {
	width: 1px;
	height: 100%;
}

/*noinspection CssReplaceWithShorthandSafely*/
#webamp-media-library .webamp-media-library-horizontal-divider {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0;
	padding-right: 0;
	cursor: row-resize;
}

#webamp-media-library .webamp-media-library-horizontal-divider-line {
	height: 1px;
	width: 100%;
}

/*noinspection CssOverwrittenProperties*/
#webamp-media-library button {
	border: none;
	color: inherit;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	height: 18px;
	cursor: inherit;
	/* TODO: I think only the center is supposed to stretch */
	background-size: 100% 18px;
	min-width: 53px;
	margin-right: 4px;
}

#webamp-media-library-track-summary-duration {
	/* This plus the margin-right on the button add up to 8px; */
	margin-left: 4px;
}

/* Rules used by all windows */

.webamp {
	position: absolute;
	top: 0;
	left: 0;
}

/* Prevent accidental highlighting */
.webamp canvas {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.webamp * {
	/* Some environments globably change the box-sizing */
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.webamp *:focus {
	outline: 0;
}

/* Range input css reset */
.webamp input[type="range"] {
	-webkit-appearance: none;
	margin: 0;
	padding: 0;
	background: none;
	border: none;
}

.webamp input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	border-radius: 0;
	background: none;
}

.webamp input[type="range"]::-moz-range-thumb {
	border: none;
	border-radius: 0;
	background: none;
}

.webamp input[type="range"]::-ms-thumb {
	border: none;
	border-radius: 0;
	background: none;
}

.webamp input[type="range"]::-moz-range-track {
	border: none;
	background: none;
}

.webamp input[type="range"]::-ms-track {
	border: none;
	background: none;
	color: transparent;
}

.webamp input[type="range"]::-ms-fill-lower {
	background: none;
	border-radius: 0;
}

.webamp input[type="range"]::-ms-fill-upper {
	background: none;
	border-radius: 0;
}

.webamp input[type="range"]::-ms-tooltip {
	display: none;
}

.webamp input[type="range"]:focus {
	outline: none;
}

.webamp input[type="range"]::-moz-focus-outer {
	border: 0;
}

.webamp a:focus {
	outline: none;
}

/* Animation */
@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.webamp .character {
	display: inline-block;
	vertical-align: top;
	width: 5px;
	height: 6px;
	/* background-image: TEXT.BMP via Javascript */
	text-indent: -9999px;
}

.webamp .window {
	position: absolute;
	/* Ask the browser to scale showing large pixels if possible */
	image-rendering: -moz-crisp-edges; /* Firefox */
	image-rendering: -o-crisp-edges; /* Opera */
	/*noinspection CssInvalidPropertyValue*/
	image-rendering: -webkit-optimize-contrast; /* Safari */
	image-rendering: pixelated; /* Only in Chrome > 40 */
	-ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

.webamp .window {
	/* Work around rendering bug with clip-path */
	-webkit-transform: translateZ(0);
}
.webamp .window.doubled {
	-moz-transform: translateZ(0) scale(2);
	-moz-transform-origin: top left;
	-webkit-transform: translateZ(0) scale(2);
	-webkit-transform-origin: top left;
}

.webamp .gen-text-a {
	width:6px
}
.webamp .gen-text-b {
	width:7px
}

.webamp .gen-text-c {
	width:7px
}

.webamp .gen-text-d {
	width:6px
}

.webamp .gen-text-e {
	width:6px
}

.webamp .gen-text-f {
	width:6px
}

.webamp .gen-text-g {
	width:7px
}

.webamp .gen-text-h {
	width:6px
}

.webamp .gen-text-i {
	width:4px
}

.webamp .gen-text-j {
	width:6px
}

.webamp .gen-text-k {
	width:7px
}

.webamp .gen-text-l {
	width:5px
}

.webamp .gen-text-m {
	width:8px
}

.webamp .gen-text-n {
	width:6px
}

.webamp .gen-text-o {
	width:6px
}

.webamp .gen-text-p {
	width:6px
}

.webamp .gen-text-q {
	width:7px
}

.webamp .gen-text-r {
	width:7px
}

.webamp .gen-text-s {
	width:6px
}

.webamp .gen-text-t {
	width:5px
}

.webamp .gen-text-u {
	width:6px
}

.webamp .gen-text-v {
	width:6px
}

.webamp .gen-text-w {
	width:8px
}

.webamp .gen-text-x {
	width:7px
}

.webamp .gen-text-y {
	width:6px
}

.webamp .gen-text-z {
	width:5px
}


.webamp .gen-text-space {
	width: 5px;
}

.webamp .gen-text-letter {
	height: 7px;
	display: inline-block;
}

.webamp .gen-window {
	/* Default size */
	width: 275px;
	height: 116px;
	display: flex;
	flex-direction: column;
}

.webamp .gen-top {
	height: 20px;
	display: flex;
	flex-direction: row;
}

.webamp .gen-top-left {
	width: 25px;
	height: 20px;
}

.webamp .gen-top-title {
	line-height: 7px;
	margin-top: 2px;
	/* TODO: This should be a conciquence of the repeating tiles, not hard coded */
	padding: 0 3px 0 4px;
}

.webamp .gen-top-left-fill {
	flex-grow: 1;
	height: 20px;
	background-position: left;
}

.webamp .gen-top-right-fill {
	flex-grow: 1;
	height: 20px;
	background-position: right;
}

.webamp .gen-top-left-end {
	width: 25px;
	height: 20px;
}

.webamp .gen-top-right {
	width: 25px;
	height: 20px;
}

.webamp .gen-top-right-end {
	width: 25px;
	height: 20px;
}

.webamp .gen-close {
	width: 9px;
	height: 9px;
	position: absolute;
	right: 2px;
	top: 3px;
}

.webamp .gen-middle {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	position: relative;
}

.webamp .gen-middle-left {
	width: 11px;
}

.webamp .gen-middle-left-bottom {
	width: 11px;
	height: 24px;
	bottom: 0;
	position: absolute;
}

.webamp .gen-middle-center {
	flex-grow: 1;
	position: relative;
}

.webamp .gen-middle-right {
	width: 8px;
}

.webamp .gen-middle-right-bottom {
	width: 8px;
	height: 24px;
	bottom: 0;
	position: absolute;
}

.webamp .gen-bottom {
	height: 14px;
	background-repeat: repeat-x;
}

.webamp .gen-bottom-left {
	position: absolute;
	left: 0;
	width: 125px;
	height: 14px;
}

.webamp .gen-bottom-right {
	position: absolute;
	right: 0;
	width: 125px;
	height: 14px;
}

.webamp .gen-bottom-right #gen-resize-target {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 20px;
	width: 20px;
}

.webamp .mini-time {
	display: block;
	height: 6px;
	width: 25px;
}

.webamp .mini-time.blinking .character:not(.background-character) {
	animation: blink 2s step-start 1s infinite;
	-webkit-animation: blink 2s step-start 1s infinite;
}

.webamp .mini-time .background-character {
	z-index: 1;
}

.webamp .mini-time .character {
	position: absolute;
	top: 0;
	z-index: 2;
}

@-webkit-keyframes rotate {
	from  { -webkit-transform: rotate(0deg); }
	to   { -webkit-transform: rotate(360deg); }
}

@keyframes rotate {
	from  { transform: rotate(0deg); }
	to   { transform: rotate(360deg); }
}