@font-face {
	font-family: 'EmuOS';
	src: url(../../../../fonts/emuos.eot);
	src: local('Microsoft Sans Serif'),
		 url(../../../../fonts/emuos.eot?#iefix) format('embedded-opentype'),
		 url(../../../../fonts/emuos.woff2) format('woff2'),
		 url(../../../../fonts/emuos.woff) format('woff'),
		 url(../../../../fonts/emuos.ttf) format('truetype'),
		 url(../../../../fonts/emuos.svg#EmuOS) format('svg');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DOSEGA';
	src: url(../../../../fonts/dosega.eot);
	src: local('Fixedsys'),
	url(../../../../fonts/dosega.eot?#iefix) format('embedded-opentype'),
	url(../../../../fonts/dosega.woff2) format('woff2'),
	url(../../../../fonts/dosega.woff) format('woff'),
	url(../../../../fonts/dosega.ttf) format('truetype'),
	url(../../../../fonts/dosega.svg#dosega) format('svg');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}