/*noinspection CssUnresolvedCustomProperty,CssOverwrittenProperties*/
.emuos-desktop-icon i.icon.badge:after {
	display: block;
	content: '';
	width: 16px;
	height: 16px;
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 16px 16px;
	z-index: 99999;
	transition: all 0.1s ease 0.5s;
	transition-property: opacity;
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
}

.emuos-desktop-icon i.icon.badge.badge-1:after {
	background-image: url(../images/badges/badge-1.ico);
	opacity: 1;
	visibility: visible;
}

.emuos-desktop-icon i.icon.badge.badge-2:after {
	background-image: url(../images/badges/badge-2.ico);
	opacity: 1;
	visibility: visible;
}

.emuos-desktop-icon i.icon.badge.badge-3:after {
	background-image: url(../images/badges/badge-3.ico);
	opacity: 1;
	visibility: visible;
}

.emuos-desktop-icon i.icon.badge.badge-4:after {
	background-image: url(../images/badges/badge-4.ico);
	opacity: 1;
	visibility: visible;
}

.emuos-desktop-icon i.icon.badge.badge-5:after {
	background-image: url(../images/badges/badge-5.ico);
	opacity: 1;
	visibility: visible;
}

.emuos-desktop-icon i.icon.badge.badge-6:after {
	background-image: url(../images/badges/badge-6.ico);
	opacity: 1;
	visibility: visible;
}

.emuos-desktop-icon i.icon.badge.badge-7:after {
	background-image: url(../images/badges/badge-7.ico);
	opacity: 1;
	visibility: visible;
}

.emuos-desktop-icon i.icon.badge.badge-8:after {
	background-image: url(../images/badges/badge-8.ico);
	opacity: 1;
	visibility: visible;
}

.emuos-desktop-icon i.icon.badge-9:after {
	background-image: url(../images/badges/badge-9.ico);
	opacity: 1;
	visibility: visible;
}

.emuos-desktop-icon i.icon.badge-9-plus:after {
	background-image: url(../images/badges/badge-9-plus.ico);
	opacity: 1;
	visibility: visible;
}