.emuos-desktop {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.emuos-desktop.ui-widget-content {
	border: none;
}

/*noinspection CssOverwrittenProperties*/
.emuos-desktop-icon {
	display: block;
	position: relative;
	width: 80px;
	/*background-color: #fff;*/
	/*background-color: rgba(255, 255, 255, 0.5);*/
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-background-clip: padding-box;
	color: #fff;
	/*color: #000;*/
	font-size: 13px;
	font-weight: bold;
	line-height: 1.3;
	margin: 6px 1px 6px;
	text-align: center;
	text-shadow: #000 1px 1px 1px;
	text-decoration: none;
}

/*noinspection CssOverwrittenProperties*/
.emuos-desktop-icon.ui-selected,
.emuos-desktop-icon {
	/*background-color: #000;*/
	/*background-color: rgba(0, 0, 0, 0.5);*/
}

/*noinspection CssOverwrittenProperties*/
.icon img,
.emuos-desktop-icon img {
	/*background-color: #000;*/
	/*background-color: rgba(0, 0, 0, 0.5);*/
	display: block;
	margin: 0 auto 5px;
	width: 64px;
	height: 64px;
	pointer-events: none;
}

.emuos-desktop-icon span {
	pointer-events: none;
}

.emuos-desktop-icon:hover {
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid #fff;
	/*padding: 5px 0 5px;*/
}

.emuos-desktop-icon.ui-draggable-dragging {
	/*background-position: 0 0;*/
	/*background-repeat: repeat;*/
	border: 1px solid #fff;
	/*padding: 5px 0 5px;*/
}

/*.emuos-desktop-icon .ui-sortable-handle {
	display: none;
	width: 100%;
	height: 100%;
}

.emuos-desktop-icon.ui-selecting .ui-sortable-handle,
.emuos-desktop-icon.ui-selected .ui-sortable-handle {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}*/