/*noinspection CssUnknownTarget*/
@font-face {
	font-family: 'EmuOS';
	src: url(/emupedia-resources/fonts/emuos.svg);
	src: url(/emupedia-resources/fonts/emuos.eot?#iefix) format('embedded-opentype'),
		 url(/emupedia-resources/fonts/emuos.woff2) format('woff2'),
		 url(/emupedia-resources/fonts/emuos.woff) format('woff'),
		 url(/emupedia-resources/fonts/emuos.ttf) format('truetype'),
		 url(/emupedia-resources/fonts/emuos.svg#EmuOS) format('svg');
	font-weight: normal;
	font-style: normal;
}