html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	cursor: inherit !important;
}

.ui-menu {
	min-width: 150px;
	z-index: 2147483647;
}

iframe {
	width: 100%;
	height: 100%;
	border: none;
}

.iframe.emuos-window-content {
	overflow: hidden;
}