/*noinspection CssUnknownTarget*/
html {
	cursor: url(images/cursors/win311/default.cur), url(../images/cursors/win311/default.cur), default;
}

/*noinspection CssUnknownTarget*/
p {
	cursor: url(images/cursors/win311/text.cur), url(../images/cursors/win311/text.cur), text;
}

/*noinspection CssUnknownTarget*/
.button {
	cursor: url(images/cursors/win311/pointer.cur), url(../images/cursors/win311/pointer.cur), pointer;
}

/*noinspection CssUnknownTarget*/
.cursor {
	cursor: url(images/cursors/win311/default.cur), url(../images/cursors/win311/default.cur), default;
}

/*noinspection CssUnknownTarget*/
.title-bar {
	cursor: url(images/cursors/win311/move.cur), url(../images/cursors/win311/move.cur), move;
}

/*noinspection CssUnknownTarget*/
.ui-resizable-n {
	cursor: url(images/cursors/win311/vertical.ani), url(../images/cursors/win311/vertical.ani), url(images/cursors/win311/vertical.cur), url(../images/cursors/win311/vertical.cur), n-resize;
}

/*noinspection CssUnknownTarget*/
.ui-resizable-e {
	cursor: url(images/cursors/win311/horizontal.ani), url(../images/cursors/win311/horizontal.ani), url(images/cursors/win311/horizontal.cur), url(../images/cursors/win311/horizontal.cur), e-resize;
}

/*noinspection CssUnknownTarget*/
.ui-resizable-s {
	cursor: url(images/cursors/win311/vertical.ani), url(../images/cursors/win311/vertical.ani), url(images/cursors/win311/vertical.cur), url(../images/cursors/win311/vertical.cur), n-resize;
}

/*noinspection CssUnknownTarget*/
.ui-resizable-w {
	cursor: url(images/cursors/win311/horizontal.ani), url(../images/cursors/win311/horizontal.ani), url(images/cursors/win311/horizontal.cur), url(../images/cursors/win311/horizontal.cur), e-resize;
}

/*noinspection CssUnknownTarget*/
.ui-resizable-nw {
	cursor: url(images/cursors/win311/diagonal1.ani), url(../images/cursors/win311/diagonal1.ani), url(images/cursors/win311/diagonal1.cur), url(../images/cursors/win311/diagonal1.cur), nw-resize;
}

/*noinspection CssUnknownTarget*/
.ui-resizable-ne {
	cursor: url(images/cursors/win311/diagonal2.ani), url(../images/cursors/win311/diagonal2.ani), url(images/cursors/win311/diagonal2.cur), url(../images/cursors/win311/diagonal2.cur), nw-resize;
}

/*noinspection CssUnknownTarget*/
.ui-resizable-sw {
	cursor: url(images/cursors/win311/diagonal2.ani), url(../images/cursors/win311/diagonal2.ani), url(images/cursors/win311/diagonal2.cur), url(../images/cursors/win311/diagonal2.cur), nw-resize;
}

/*noinspection CssUnknownTarget*/
.ui-resizable-se {
	cursor: url(images/cursors/win311/diagonal1.ani), url(../images/cursors/win311/diagonal1.ani), url(images/cursors/win311/diagonal1.cur), url(../images/cursors/win311/diagonal1.cur), nw-resize;
}

/*noinspection CssUnknownTarget*/
.mCustomScrollBox.mCS-win311 .mCSB_dragger .mCSB_dragger_bar,
.mCustomScrollBox.mCS-win311 .mCSB_buttonUp,
.mCustomScrollBox.mCS-win311 .mCSB_buttonDown {
	cursor: url(images/cursors/win311/pointer.cur), url(../images/cursors/win311/pointer.cur), pointer;
}