/*noinspection CssUnknownTarget*/
html.theme-win9x {
	cursor: url(/emupedia-resources/cursors/win95/default.cur), default;
}

/*noinspection CssUnknownTarget*/
.theme-win9x p {
	cursor: url(/emupedia-resources/cursors/win95/text.cur), text;
}

/*noinspection CssUnknownTarget*/
.theme-win9x .emuos-desktop-icon,
.theme-win9x .ui-button,
.theme-win9x .ui-menu .ui-menu-item,
.theme-win9x .mCustomScrollBox .mCSB_dragger .mCSB_dragger_bar,
.theme-win9x .mCustomScrollBox .mCSB_buttonUp,
.theme-win9x .mCustomScrollBox .mCSB_buttonDown {
	cursor: url(/emupedia-resources/cursors/win95/pointer.cur), pointer;
}

/*noinspection CssUnknownTarget*/
.theme-win9x .emuos-taskbar-windows-containment,
.theme-win9x .emuos-taskbar-window-copy,
.theme-win9x .emuos-taskbar-resizable.emuos-taskbar-resizable-disabled .ui-resizable-handle {
	cursor: url(/emupedia-resources/cursors/win95/default.cur), default;
}

/*noinspection CssUnknownTarget*/
.theme-win9x .ui-draggable .ui-dialog-titlebar {
	cursor: url(/emupedia-resources/cursors/win95/move.cur), move;
}

/*noinspection CssUnknownTarget*/
.theme-win9x .ui-resizable-n {
	cursor: url(/emupedia-resources/cursors/win95/vertical.cur), n-resize;
}

/*noinspection CssUnknownTarget*/
.theme-win9x .ui-resizable-e {
	cursor: url(/emupedia-resources/cursors/win95/horizontal.cur), e-resize;
}

/*noinspection CssUnknownTarget*/
.theme-win9x .ui-resizable-s {
	cursor: url(/emupedia-resources/cursors/win95/vertical.cur), s-resize;
}

/*noinspection CssUnknownTarget*/
.theme-win9x .ui-resizable-w {
	cursor: url(/emupedia-resources/cursors/win95/horizontal.cur), w-resize;
}

/*noinspection CssUnknownTarget*/
.theme-win9x .ui-resizable-nw {
	cursor: url(/emupedia-resources/cursors/win95/diagonal1.cur), nw-resize;
}

/*noinspection CssUnknownTarget*/
.theme-win9x .ui-resizable-ne {
	cursor: url(/emupedia-resources/cursors/win95/diagonal2.cur), ne-resize;
}

/*noinspection CssUnknownTarget*/
.theme-win9x .ui-resizable-sw {
	cursor: url(/emupedia-resources/cursors/win95/diagonal2.cur), sw-resize;
}

/*noinspection CssUnknownTarget*/
.theme-win9x .ui-resizable-se {
	cursor: url(/emupedia-resources/cursors/win95/diagonal1.cur), se-resize;
}