/*noinspection CssOverwrittenProperties*/
.theme-win9x .emuos-desktop {
	/*background-color: #008080;*/
	background-color: #3a6ea5;
	background-image: url(../../../images/themes/win9x/wallpapers/windows-me-remastered-1920x1080.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.theme-win9x .emuos-desktop-icon {
	font-size: 13px;
	font-weight: normal;
	text-shadow: none;
}

.theme-win9x .emuos-desktop-icon span {
	display: block;
	color: #fff;
	background-color: #3a6ea5;
}

.theme-win9x .emuos-desktop-icon.ui-sortable-helper span,
.theme-win9x .emuos-desktop-icon.ui-draggable-dragging span,
.theme-win9x .emuos-desktop-icon.ui-selecting span,
.theme-win9x .emuos-desktop-icon.ui-selected span {
	background-color: #000080;
	color: #fff;
	outline: 1px dotted #ffff7f;
	outline-offset: -1px;
}

.theme-win9x .emuos-desktop-icon.ui-sortable-helper i,
.theme-win9x .emuos-desktop-icon.ui-draggable-dragging i,
.theme-win9x .emuos-desktop-icon.ui-selecting i,
.theme-win9x .emuos-desktop-icon.ui-selected i {
	-webkit-filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);
	filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);
}

.theme-win9x .emuos-desktop-icon:hover {
	background-color: transparent;
	border: none;
}

.theme-win9x .emuos-desktop-icon.ui-sortable-helper,
.theme-win9x .emuos-desktop-icon.ui-draggable-dragging {
	border: none;
}