::selection {
	background: #000080;
	color: #fff;
}

::-moz-selection {
	background: #000080;
	color: #fff;
}

html.theme-win9x {
	font-family: 'EmuOS', 'MS Sans Serif', 'Arial', sans-serif;
}

.theme-win9x .emuos-desktop {
	filter: none;
}

.theme-win9x .ui-state-focus .ui-icon {
	background-image: url(../../../images/ui/themes/base/ui-icons_ffffff_256x240.png);
}