.theme-win9x .emuos-taskbar {
	background-color: #c0c0c0;
	color: #000;
}

.theme-win9x .emuos-taskbar.emuos-taskbar-horizontal.emuos-taskbar-stick-bottom {
	border-top: 1px solid #dfdfdf;
}

.theme-win9x .emuos-taskbar.emuos-taskbar-horizontal.emuos-taskbar-stick-top {
	border-bottom: 1px solid #000;
}

.theme-win9x .emuos-taskbar.emuos-taskbar-vertical.emuos-taskbar-stick-left {
	border-right: 1px solid #000;
}

.theme-win9x .emuos-taskbar.emuos-taskbar-vertical.emuos-taskbar-stick-right {
	border-left: 1px solid #dfdfdf;
}

.theme-win9x .emuos-taskbar.emuos-taskbar-horizontal.emuos-taskbar-stick-bottom .emuos-taskbar-resizable,
.theme-win9x .emuos-taskbar.emuos-taskbar-vertical.emuos-taskbar-stick-right .emuos-taskbar-resizable {
	border-color: #fff;
}

.theme-win9x .emuos-taskbar.emuos-taskbar-horizontal.emuos-taskbar-stick-top .emuos-taskbar-resizable,
.theme-win9x .emuos-taskbar.emuos-taskbar-vertical.emuos-taskbar-stick-left .emuos-taskbar-resizable {
	border-color: #dfdfdf;
}

.theme-win9x .emuos-taskbar.emuos-taskbar-horizontal.emuos-taskbar-stick-bottom .emuos-taskbar-resizable,
.theme-win9x .emuos-taskbar.emuos-taskbar-vertical.emuos-taskbar-stick-right .emuos-taskbar-resizable {
	border-color: #fff;
}

.theme-win9x .emuos-taskbar.emuos-taskbar-horizontal.emuos-taskbar-stick-top .emuos-taskbar-resizable.emuos-taskbar-resizable-mouseover,
.theme-win9x .emuos-taskbar.emuos-taskbar-vertical.emuos-taskbar-stick-left .emuos-taskbar-resizable.emuos-taskbar-resizable-mouseover {
	border-color: #dfdfdf;
}

/*noinspection CssReplaceWithShorthandSafely*/
.theme-win9x .emuos-taskbar .emuos-taskbar-start-container {
	padding-top: 3px;
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
}

/*noinspection CssReplaceWithShorthandSafely*/
.theme-win9x .emuos-taskbar.emuos-taskbar-horizontal.emuos-taskbar-stick-top .emuos-taskbar-separator,
.theme-win9x .emuos-taskbar.emuos-taskbar-horizontal.emuos-taskbar-stick-bottom .emuos-taskbar-separator {
	background: #fff;
	margin-top: 3px;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #808080;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #fff;
	font-size: 13px;
}

/*noinspection CssReplaceWithShorthandSafely*/
.theme-win9x .emuos-taskbar.emuos-taskbar-vertical.emuos-taskbar-stick-left .emuos-taskbar-separator,
.theme-win9x .emuos-taskbar.emuos-taskbar-vertical.emuos-taskbar-stick-right .emuos-taskbar-separator {
	background: #fff;
	margin-top: 0;
	margin-right: 0;
	margin-left: 2px;
	margin-bottom: 1px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #808080;
	font-size: 10px;
}

/*noinspection CssOverwrittenProperties*/
.theme-win9x .emuos-taskbar .ui-button {
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-radius: 0;
	font-size: 13px;
	font-weight: bold;
	height: 20px;
	margin: 0;
}

.theme-win9x.browser-firefox .emuos-taskbar .ui-button {
	font-size: 12px;
	background-color: #c0c0c0;
}

.theme-win9x .emuos-taskbar .ui-button.ui-state-active {
	color: #000;
	border-radius: 0;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

/*noinspection CssOptimizeSimilarProperties,CssInvalidPropertyValue*/
.theme-win9x .emuos-taskbar .emuos-taskbar-window-button.ui-button .ui-button-icon-primary {
	left: 3px;
	/*image-rendering: -moz-crisp-edges;*/
	/*image-rendering: -o-crisp-edges;*/
	/*image-rendering: -webkit-optimize-contrast;*/
	/*image-rendering: pixelated;*/
	/*-ms-interpolation-mode: nearest-neighbor;*/
}

/*noinspection CssReplaceWithShorthandSafely*/
.theme-win9x .emuos-taskbar .ui-button .ui-button-text {
	border-top: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
	padding-top: 2px;
	padding-right: 11px;
	padding-left: 11px;
	padding-bottom: 1px;
	background-color: #c0c0c0;
	color: #000;
}

.theme-win9x .emuos-taskbar .ui-button.ui-button-icon-only .ui-button-text,
.theme-win9x .emuos-taskbar .ui-button.ui-button-icons-only .ui-button-text {
	color: transparent;
}

/*noinspection CssReplaceWithShorthandSafely,CssUnknownTarget*/
.theme-win9x .emuos-taskbar .emuos-taskbar-window-button.ui-button.ui-state-active .ui-button-text {
	background-image: url(/emupedia-resources/images/transparent.png);
}

/*noinspection CssReplaceWithShorthandSafely*/
.theme-win9x .emuos-taskbar .ui-button.ui-button-text-icon-primary .ui-button-text {
	padding-top: 1px;
	padding-right: 2px;
	padding-left: 20px;
	padding-bottom: 2px;
}

/*noinspection CssReplaceWithShorthandSafely*/
.theme-win9x .emuos-taskbar .ui-button.ui-state-active .ui-button-text {
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	border-right: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	background-color: #c0c0c0;
	color: #000;
}

.theme-win9x .emuos-taskbar .ui-button:active .ui-button-text,
.theme-win9x .emuos-taskbar .ui-button:focus .ui-button-text {
	outline: 1px dotted #000;
	outline-offset: -3px;
}

/*noinspection CssUnknownTarget*/
.theme-win9x .emuos-taskbar .ui-button.emuos-taskbar-start-button .ui-button-icon-primary {
	left: 3px;
	background-image: url(../../../images/icons/desktop/emupedia.ico);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 16px 16px;
}

/*noinspection CssReplaceWithShorthandSafely*/
.theme-win9x .emuos-taskbar .ui-button.ui-state-active.emuos-taskbar-start-button .ui-button-text {
	padding-top: 2px;
	padding-right: 2px;
	padding-left: 20px;
	padding-bottom: 1px;
	outline: 1px dotted #000;
	outline-offset: -3px;
}

.theme-win9x .emuos-taskbar .ui-button.ui-state-active.emuos-taskbar-start-button .ui-button-icon-primary {
	background-position: center 1px;
}