/* region Window */

.theme-win9x .emuos-window {
	border-radius: 0;
	border: 1px solid #000;
	background-color: #c0c0c0;
	padding: 3px;
}

/*noinspection CssOptimizeSimilarProperties,CssReplaceWithShorthandSafely*/
.theme-win9x .emuos-window .ui-dialog-titlebar {
	background-color: #c0c0c0;
	border-radius: 0;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	border: none;
	border-bottom: 1px solid #000;
	padding: 0;
	padding-left: 19px;
	height: 18px;
}

.theme-win9x .emuos-window .ui-dialog-titlebar .ui-dialog-title {
	line-height: 21px;
	margin: -2px 0 0;
}

.theme-win9x .emuos-window .ui-dialog-titlebar.ui-state-active {
	background-color: #000080;
	border: none;
	border-bottom: 1px solid #000;
}

.theme-win9x .emuos-window .emuos-window-content {
	padding: 0;
	font-size: 13px;
	line-height: 16px;
	height: calc(100% - 19px) !important;
	max-height: calc(100% - 19px) !important;
	background-color: #fff;
}

.theme-win9x .emuos-window .emuos-window-content p {
	margin: 0;
	padding: 0;
}

/* endregion */